.toggler {
    color: var(--grey-4);
    display: inline-block;    
	height: 28px;    
	position: relative;
	user-select: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    vertical-align: middle;
}

.toggler__input {
	display: block;	
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.toggler__state {
	position: relative;	
	display: inline-block;
	box-sizing: border-box;			
	width: 56px;	
	height: 28px;
	border: 1px solid var(--grey-2);
    border-radius: 16px;
	vertical-align: top;
	background: var(--white);
	transition: .2s;
}

.toggler .toggler__state:before {
	content: '';
	position: absolute;
	top: 1px;
	left: 1px;	
	display: inline-block;
	width: 24px;	
	height: 24px;
	border-radius: 50%;
	background: var(--grey-2);
	transition: .15s;
}

.toggler__input:checked ~ .toggler__state {
    background: var(--blue-2);
}

.toggler__input:checked ~ .toggler__state:before {
    background: var(--white);
}

.toggler .toggler__input:checked + .toggler__state:before {
	transform:translateX(28px);
}
 
.toggler__input:disabled ~ .toggler__state {
    background: var(--grey-2);
}

.toggler__input:disabled ~ .toggler__state:before {
    background: var(--grey-3);
}

