.modal {
    font-family: 'Inter';
    font-style: normal;
    position: fixed;
    transform: translate(30%, 20%);
    background-color: rgba(196, 196, 196, 0.5);
    min-width: 100vw;
    height: 100vh;
    display: none;
    }
    
    .modal__container {
    padding: 30px 40px 30px 40px;
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 33px;
    background: var(--white);
    border-radius: 8px;
    }

    .modal__title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--darkgrey);
    }

    .modal__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #495057;
    }

    .modal__cross {
    position: absolute;
    right: 15px;
    top: 15px;
    }