.avatar {
    display: inline-block;
    background: var(--white);
    width: 164px; 
    height: 164px;
}

.avatar__wrapper {
    margin: 24px;
    border-radius: 50%; 
    overflow: hidden; 
}

.avatar__image {
    object-fit: cover;
    width: 100%; 
    height: 100%;
    border-radius: 50%; 
}

.avatar__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: var(--black);
    border-top: 1px solid var(--grey-2);
}

