@import '../fonts/fonts.css';
@import '../../components/header/header.css';
@import '../../components/main/main.css';
@import '../../components/footer/footer.css';
@import '../../03-lection1/01-button/button.css';
@import '../../09-lection7/01-burger-menu/burger-menu.css';
@import '../../components/page-template/page-template.css';
@import '../../components/header-template/header-template.css';
@import '../../components/nav-template/nav-template.css';
@import '../../components/main-template/main-template.css';
@import '../../components/ads-template/ads-template.css';
@import '../../components/footer-template/footer-template.css';

:root {
    --white: #ffffff;
    --white-2: #F9FAFC;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-light: #4263EB;
    --blue: #374FC7;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;
    --grey-5: #C4C4C4;
    --darkgrey: #334D6E;
    --blue-2: #4263EB;
    --blue-3: #2342C0;
    --blue-4: #334D6E;
    --purple-2: #5028C6;
    --white-2: #fff;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue);
    --secondary: var(--purple);
}

h1 {
    margin: 0;
    padding: 0;
}


