.radio {
    position: relative;
    display: inline-block;
}

.radio__state {
    width: 28px;
    height: 28px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 50%;
}

.radio__input {
    display: block;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.radio__input:checked ~ .radio__wrapper  
.radio__state {
    background-image: url('iconka.svg');
    background-position: center;
    background-repeat: no-repeat;
    border: 2px solid var(--blue-2);
}

.radio__title {
font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.radio__input:disabled ~ .radio__wrapper  
.radio__state {
    background-color: var(--grey-2);
}

.radio__input:disabled ~ .radio__wrapper  
.radio__title {
    color: var(--grey-2);
}