.calendar__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: var(--blue-4);
    text-align: center;
}

.calendar {
    display: inline-grid;
    border: 1px solid var(--grey-3);
    border-radius: 8px;
    background: var(--white);
    padding: 24px;
}

.calendar__numbers, 
.calendar__days {
    display: grid;
    text-align: center;
    grid-template-columns: repeat(7, 1fr);
}

.calendar__days .calendar__day_week-day:first-child {
    grid-column: 5;
}

.calendar__numbers {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: var(--grey-5);
}

.calendar__days {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: var(--blue-4);
    padding-top: 8px;
}

.calendar__day_start,
.calendar__day_end {
    background: var(--blue-2);
}

.calendar__day_between {
    background: rgba(160,177,245, 0.2);
}
