.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 16px;
}


.checkbox {
    position: relative;
}

.checkbox__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}

.checkbox__input {
    display: block;
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.checkbox__control {
    display: inline-block;
    width: 28px;
    height: 28px;
    border-radius: 4px;
    border: 1px solid var(--grey-2);
}

.checkbox__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.checkbox__title-dis {
    color: var(--grey-2);
}

.checkbox__input:checked ~ .checkbox__wrapper 
.checkbox__control { 
    border: 1px solid var(--blue-2);
    background: var(--blue-2);
    background-repeat: no-repeat;
    background-position: center;
    background-size:contain;

}

.checkbox__input:checked ~ .checkbox__wrapper
.checkbox__control {
    display: block;
    background-image: url('iconka2.svg');
}

.checkbox__input:disabled ~ .checkbox__wrapper 
.checkbox__control {
    border: 1px solid var(--grey-2);
    background: var(--grey-2);
}