.input {
    position: relative;
}

.input__control {
    padding-top: 17px;
    padding-bottom: 13px;
    padding-left: 24px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    box-sizing: border-box;
    width: 350px;
    height: 56px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 8px;
}

.input__control::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-2);
}


.input__control_error::placeholder,
.input_success .input__control::placeholder,
.input__control:focus::placeholder {
    color: var(--grey-4);
}
  
.input__control:focus ~ .input__icon_success {
    display: block;
}
.input__label {
    text-transform: uppercase;
    color: var(--grey-3);
}

.input__icon {
    display: none;
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);
}



.input_error .input__control {
    border: 1px solid var(--red);
box-shadow: 0px 1px 1px rgba(240, 61, 62, 0.1);

}

.input_error {
    position: relative;
}

.input_error .input__icon_error { 
    display: block; 
}
